# Visual Studio / VS Code
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.sln.docstates

# NuGet Packages
*.nupkg
!*.nupkg.metadata
packages/
# except if you want to include the packages folder
# !packages

# SQL Files
*.mdf
*.ldf
*.db

# OS Files
.DS_Store
Thumbs.db